@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exchange Rates</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p><button class="btn btn-default" data-bind="click: getRates">Get rates</button></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>BaseSwift</th>
                    <th>BuyCash</th>
                    <th>Multiply</th>
                    <th>SellCash</th>
                    <th>SwiftCode</th>
                    <th>SwiftName</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: currencyData">
            <tr>
                <td data-bind="text: BaseSwift"></td>
                <td data-bind="text: BuyCash"></td>
                <td data-bind="text: Multiply"></td>
                <td data-bind="text: SellCash"></td>
                <td data-bind="text: SwiftCode"></td>
                <td data-bind="text: SwiftName"></td>
            </tr>
        </table>
    </div>
</div>